@import '../../../styles/vars.scss';

.card__content {
    display: flex;
    align-items: center;

    .card__value {
        width: 25%;
        padding: 15px;
        &:not(:last-child) {
            &:after {
                content: '';
                position: absolute;
                right: 0;
                top: 50%;
                width: 1px;
                height: 50px;
                transform: translateY(-50%);
                background: $light-grey;
            }
        }
    }
}