$light-grey: #969696;
$dark-grey: #2b2b2b;
$main-blue: #3d5a80;
$main-pink: #dda0d0;
$main-purple: #4b0082;
$fs-small: 14px;
$fs-medium: 16px;
$fs-large: 18px;
$fw-thin: 400;
$fw-normal: 500;
$fw-bold: 700;