$light-grey: hsl(0, 0%, 59%);
$dark-grey: hsl(0, 0%, 17%);
$main-blue: #3d5a80;
$main-pink: rgb(221,160,208);
$main-purple: rgba(75,0,130,1);
$fs-small: 14px;
$fs-medium: 16px;
$fs-large: 18px;
$fw-thin: 400;
$fw-normal: 500;
$fw-bold: 700;