@import '../../styles/vars.scss';

.search {
    width: 100%;
    height: 30vh;
    padding-top: 25px;
    padding-bottom: 125px;
    background: $main-pink;
    background: linear-gradient(90deg, $main-pink 0%, $main-purple 100%);
    .holder {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
    }
}